.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2= t 'student_groups.new.title'
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content
          = render 'form'
