.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Materii
    = link_to new_subject_path do
      %button.btn.btn-primary Adăugare materie

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content
          = react_component('app.Subjects', subjects: @subjects)
