// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
/*
*= require react-select/react-select.css
*/

// Active Admin's got SASS!
@import "flattened_active_admin/variables";
@import "flattened_active_admin/mixins";
@import "flattened_active_admin/base";
@import "active_admin/select2/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.flexy-table-filter {
  width: 20%;
}

.flexy-table {
  .flexy-table-filter {
    float: left;
  }

  .flexy-table-table-panel {
    float: right;
    width: 78%;

    th {
      background: #efefef;
    }

    .panel_contents {
      padding: 0px;

      .flexy-table-wrapper {
        overflow-x: scroll;
      }

      table {
        margin-top: 0px;
        margin-bottom: 0px;

        td, th {
          padding: 5px;
        }

        td {
          input {
            width: 30px;
          }
        }
      }
    }
  }
}
